@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BME</h1>
    <p>This is the Booking Made Easy site, the easiest way to book your next holiday acomidation</a>.</p>
</div>
